<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="Motor and Code: Where automotive meets internet of things.">
	<meta name="author" content="Sarath Manuel and Kenneth Lin">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--<link rel="icon" href="images/favicon.ico" type="image/x-icon">-->
	<link rel="stylesheet" href="angular-ui-bootstrap/dist/ui-bootstrap-csp.css"/>
	<link rel="stylesheet" href="stylesheets/style.css"/>
	<title>Motor & Code</title>
</head>

<body ng-app="mncApp">

	<!--include navbar here-->
	<h1>Title</h1>
	<p>Welcome to Title</p>

	<ui-view>Loading...</ui-view>

	<!--include footer here-->

	<!--Angular scripts go here-->
	<script src="angular/angular.min.js" type="text/javascript"></script>
	<script src="angular-ui-router/release/angular-ui-router.min.js" type="text/javascript"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js" type="text/javascript"></script>
	<script src="angular-ui-bootstrap/dist/ui-bootstrap.js" type="text/javascript"></script>
	<script src="angular-ui-bootstrap/dist/ui-bootstrap-tpls.js" type="text/javascript"></script>
	<script src="javascripts/client.js" type="text/javascript"></script>
	<script src="javascripts/ui-router/config.js" type="text/javascript"></script>

</body>
</html>
