<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header page-scroll">
			<button type="button" class="navbar-toggle" ng-click="$ctrl.isNavCollapsed = !$ctrl.isNavCollapsed">
				<span class="sr-only">Toggle navigation</span>
				Menu <i class="fa fa-bars"></i>
			</button>
			<a class="navbar-brand" ui-sref="home">BrandLogo</a>
		</div>
		<!-- collapsed elements begin here -->
		<div class="collapse navbar-collapse" uib-collapse="$ctrl.isNavCollapsed">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a ng-click="$ctrl.testToken()">Token!</a>
				</li>
				<li>
					<a ng-click="$ctrl.logout()">Log Out</a>
				</li>
				<li ng-show="$ctrl.isLoggedIn()">
					<a>{{ $ctrl.currentUser() }}</a>
				</li>
				<li>
					<a ui-sref="home" ng-click="$ctrl.isNavCollapsed = true">Home</a>
				</li>
				<li>
					<a ui-sref="future" ng-click="$ctrl.isNavCollapsed = true">Future</a>
				</li>
				<li>
					<a ui-sref="fossils" ng-click="$ctrl.isNavCollapsed = true">Fossils</a>
				</li>
				<li>
					<a ui-sref="opinion" ng-click="$ctrl.isNavCollapsed = true">Opinion</a>
				</li>
			</ul>
		</div>
		<!-- collapsed elements end here -->
	</div>
</nav>
